@import 'variables';
header{
    .icon-byui-logo{
        background-color: black;
        @media (min-width: $break-large) {
            height: 82px;
            width: 72px;
            position: relative;
            left: 50px;
        }
        padding: 10px 10px 17px 10px;
        display: flex;
        &::before{
            display: inline-block;
            margin: auto;
            font-size: 23px;
            @media (min-width: $break-large) {
            padding-top: 20px;   
            }
        }
    }
    h1{
        background-color: $light-gray;
        border-bottom: 1px solid $dark-gray;
        font-size: 20px;
        font-weight: 300;
        padding: 15px 90px;
        margin-top: -1px;
        color: #525352;
        @media (min-width: $break-large) {
            padding: 30px 50px;
            font-size: 30px;  
            border-bottom: none; 
        }
    }
}
.site-banner{
    display: flex;
    align-items: center;
    background-color: $byui-blue;
    position: relative;
    @media (min-width: $break-large) {
        height: 60px;
        }
    a{
        text-decoration: none;
    }
    [class*="icon"]{
        font-size: 35px;
        color: white;
    }
    .icon-search, .icon-menu, .icon-audience{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .icon-search{
        right: 120px;
    }
    .icon-audience{
        right: 75px;
    }
    .search-desktop{
        display: none;
        @media (min-width: $break-large) {
            display: inline;
            position: absolute;
            right: 170px;
            top: 15px;  
        }
        input{
        @media (min-width: $break-large) {  
            border: 1px solid $dark-gray;
            border-radius: 4px; 
        }  
        }
        button{
        @media (min-width: $break-large) {
            display: none;  
        }
        }
    }
}
body{
    margin: 0;
}
@mixin breakpoint($break) {
    @if $break == large {
    @media (max-width: $break-large) { @content; }
}
}