@use 'variables' as *;
// name spacing sets the variable to global with *
@use 'get-info-box';
@use 'typography';
@use 'icons';
@use 'header';
@use 'image-group';
@use 'resources';
@use 'dates';
@use 'calendar';
@use 'footer';
// sass byui-home/styles.scss byui-home/styles.css -w

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "BYUI Open Sans", sans-serif;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

